@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body {
    font-family:'Ubuntu', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000 ;
    color:#FFFFFF;
    padding:10px;
}

header {
    background-color:#368fdd;
    color: #fff;
    font-family:'Poppins', sans-serif;
    text-align: center;
    padding: 1rem 0;
    border-radius: 15px;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 1rem;
}

a.txt { 
    color:#000000;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    font-family:'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 800;
}

a:hover {
    color: #FFFFFF;
}

h2 {
    color:#ffffff;
    font-family:'Ubuntu', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: 800;
}

h3{
    color:#4339ee;
    font-family:'Ubuntu', sans-serif;
}
p{
    color:#FFFFFF; 
    font-family:'Ubuntu', sans-serif;
    font-size: larger;
}

button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 35px;
    border-width: 5px;
    border-color:#0918e5 ;
    transition: background-color 0.3s ease;
}

#submit:hover,button:hover {
    color:#000000;
    background-color: #FFFFFF;
}

#submit{
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 15px;
    border-width: 3px;
    border-color:#3509e5 ;
    transition: background-color 0.3s ease;
}


.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:#FFFFFF; 
    font-family:'Ubuntu', sans-serif;
    font-size: larger;
    
}

.skill {
    margin-bottom: 10px;
    width: 100%;
    
}

.id{
    background-color: #000000;
}
progress {
    width: 100%;
}
.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skill {
    margin-bottom: 10px;
    width: 100%;
}

progress {
    width: 80%;
    height:15px;
    background-color: #000000; 
    border-radius: 10px;
}


progress::-webkit-progress-value {
    background-color: #f8f8f8;
}


progress::-moz-progress-bar {
    background-color:#ffffff;
}


progress::-ms-fill {
    background-color: #ffffff;
}

.prg-cont{
    border-radius: 15px;
}

.contact{
    padding-left: 570px;
}

.image-container1 {
    display: flex; 
    align-items: center;
}
    
.image-container2 {
    display: flex; 
    justify-content: space-between; 
    padding:35px;
}

.image {
    max-width: 30%;
    height: auto; 
    transition: transform 0.3s; 
    border-radius: 20px;
}

.image:hover {
    transform: scale(1.8); 
    align-items:center;
}

.circle {
    width: 200px; 
    height: 200px;
    border-radius: 50%; 
    overflow: hidden; 
    margin-left:100px;
}

.circle img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 

}

.text {
    
    margin-left: 200px; 
}


.glowing-text {
    
    font-size: 36px;
    text-align: center;
    color:#f4f1f1;
    text-shadow: 0 0 40px #faf2f2;
    animation: glow 1.5s ease-in-out infinite; 
    padding-right: 200px;
}

@keyframes glow {
    0% {
        text-shadow: 10 10 30px #2b07bd;
    }
    50% {
        text-shadow: 10 10 40px #4009e5; 
    }
    100% {
        text-shadow: 10 10 30px #450bcbc8;
    }
}

.res
{
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    margin-left: 25px;
}

.media-icons {
    display: flex;
    margin-top: 0.8rem;
    transition: 0.5s ease;
    padding-left: 4.2rem;
    background-color: #5d09e5;
    max-width: 170px;
    justify-content: center;
    align-items: center;
    margin-left: 540px;
    border-radius: 50px;
  }
  
.media-icons a {
    color:white;
    font-size: 2rem;
    margin-right: 60px;
    transition: 0.4s ease;
}

.media-icons a:hover {
    transform: scale(1.3);
    
}

.media-icons:hover {
    background-color: #FFFFFF;
}

.media-icons:hover a{
    color: #0935e5;
}

.project .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .project .boxes .box {
    margin: 20px 0;
    background: #07e1d6;
    width: calc(100% / 3 - 50px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .box .topic p{
    font-size: 30px;
    font-weight: 500;
    color: #308cba;
  }
  
  .box:hover {
    transform: scale(1.06);
    transition: transform 0.3s ease;
    
  }

  .topic{
    font-size: 20px;
    font-weight: 800;
  }
  
  .project .boxes .box:hover {
    background: white;
    color: #3c09e5;

  }
  
  .project .boxes .box .icon  {
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #0dd1f4;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
  }
  
  .box-icon {
    margin-top: 1rem;
  }
  
  .box-icon a i {
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: #3c09e5;
    margin: 0.9rem;
  }
  
  .boxes .box:hover .box-icon a i {
    background: #5d09e5;
    color: white;
  }

  .box:hover p{
   color:#e509de
  }

  .boxes .box:hover .icon {
    background: #0efbff;
    color: white;
  }
  
  section .content {
    width: 80%;
    margin: 40px auto;
  }
    
.image{
    max-width: 280px;
    height: auto;
    margin: 10px;
    border: 5px solid #2235e0;
    transition: transform 0.5s;
}

.image:hover{
    transform: scale(1.4);
    z-index:999;
}


   section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  
  
  section .title span {
    color: #4f09e5;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
  }
  
  
  section .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  footer{
    height: 30px;
    background-color: #ffffff;
      color:#4f09e5;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    border-radius: 15px;
    text-align: center;
    
  }
